.list-item
    line-height: 40px
    border-bottom: 1px dotted #000
    display: flex
.list-item-left
    width: 150px
    border-right: 1px solid red;
.list-item-right
    flex 1
    text-align: center